body{margin: 0px;
font-family: 'Roboto', sans-serif;font-size: 50px;
background-image: url(img/ep_naturalblack.png);
background-position: left bottom;
background-repeat;
}
.bbb{
color:white;text-align: center;
padding-top:60px;
width:330px;
padding-left:150px;
height:180px;
}
.menu{
list-style: none;
margin: 0 0 5px;
padding: 10px 0 5px;
text-align: center;
background: white;
}
.menu li {display: inline-block;}
.menu li:after {
content: "|";
color: #606060;
display: inline-block;
vertical-align:top;
}
.menu li:last-child:after {content: none;}
.menu a {
text-decoration: none;
font-family: "arial", sans-serif;
letter-spacing: 2px;
position: relative;
padding-bottom: 20px;
margin: 0 34px 0 30px;
font-size: 17px;
text-transform: uppercase;
display: inline-block;
transition: color .2s;
}
.menu a, .menu a:visited {color: #9d999d;}
.menu a.current, .menu a:hover{color: #feb386;}
.menu a:before,
.menu a:after {
content: "";
position: absolute;
height: 4px;
top: auto;
right: 50%;
bottom: -5px;
left: 50%;
background: #feb386;
transition: .8s;
}
.menu a:hover:before, .menu .current:before {left: 0;}
.menu a:hover:after, .menu .current:after {right: 0;}
@media (max-width: 550px) {
.menu {padding-top: 0;
}
.menu li {display: block;
}
.menu li:after {content: none;
}
.menu a {
padding: 25px 0 20px;
margin: 0 30px;
}
.ms{width: 1000px; height: 500px
}
.ms{
margin:100px;
}
.logo{
position: relative;
height:10px;
background-color: white;
}
.logo2{
position: absolute;
}